.profile-hero {
    background-color: #1f1f33;
}

.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.05);
    border-color: #28a745;
}

.custom-badge {
    background-color: #8e6e59;
    /*color: #1f1f33;*/
    padding: 8px 16px;
    font-weight: 400;
    border-radius: 10px;
    font-size: 0.8rem;
}
